

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <%#= image_tag 'harley1.jpg', :class => 'big-photo', alt: "motorcycle" %>
                </div>

                <div class="col-lg-3">
                    <%#= image_tag 'moto_penche1.jpg', :class => 'little-photo little-photo-top', alt: "motorcycle" %>
                    <%#= image_tag 'harley2.jpg', :class => 'little-photo', alt: "motorcycle" %>
                </div>
            </div>
        </div>
    </section>

    <section class="section2">
        <hr class="horizontal-line">
        <br>
        <br>

        <h1 class="master">Maitrisez votre moto</h1>
        <div>
            <div class="container-fluid">
                <div class="row customers">
                    <div class="col-lg-3 align ut">
                        <h3 class="what">Qu'est ce que c'est ?</h3>
                    </div>

                    <div class="col-lg-9 align">
                        <p class="parragraphe">Safy est une plateforme où vous creez en quelques cliques votre profil moto afin de stocker toute les informations concernant celle-ci</p>
                    </div>
                </div>
                <div class="row customers">
                    <div class="col-lg-3 center ut">
                        <h3 class="what a-quoi-ca-sert">A quoi ça sert ?</h3>
                    </div>

                    <div class="col-lg-9">
                        <div class="row for-what">
                            <div class="col-lg-9">
                                <p>Archivez vos factures<br /><small>Ne perdez plus vos factures et stockez les facilement.</small></p>
                            </div>
                            <div class="col-lg-3">
                                <span class="fas fa-archive fa-5x"></span>
                            </div>
                        </div>

                        <div class="row for-what">
                            <div class="col-lg-9">
                                <p>Suivi kilomètrique<br /><small>Suivi kilométrique de votre moto, pneus, kit chaine, vidange, ...</small></p>
                            </div>
                            <div class="col-lg-3">
                                <span class="fas fa-road fa-5x"></span>
                            </div>
                        </div>

                        <div class="row for-what">
                            <div class="col-lg-9">
                                <p>Rappel des entretiens<br /><small>Notification lors de l'approche d'une révision avec coût moyen et detail de celle-ci.</small></p>
                            </div>
                            <div class="col-lg-3">
                                <span class="fas fa-bell fa-5x"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row customers">
                    <div class="col-lg-3 align bottom ut">
                        <h3 class="what">Pour qui ?</h3>
                    </div>
                    <div class="col-lg-9 align bottom">
                        <p class="parragraphe">Safy est destiné a tous les motards souhaitant un suivi précis de sa machine sans prise de tête :)</p>
                    </div>

                </div>
            </div>
        </div>
        <hr class="horizontal-line">
    </section>

    <section class="section3">
        <span class="fas fa-exclamation-triangle fa-5x"></span>
        <br>
        <br>
        <p>Application mobile en développement !!</p>
    </section>
