<section class="section-userindex container">

    <h1 class="vosmotos"><%= @moto.modele.marque.nom %> <%= @moto.modele.nom %></h1>

    <hr class="horizontal-line hr-detail">

    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-3 col-md-12 col-sm-12 col-xs-12 col-detail">
                <h4 class="detail-titre">Moteur :</h4>
                <p class="detail">
                               Bicylindre en L à 90°, 4 temps
                               Refroidissement : Refroidissement par air
                               Injection Ø 45 mm
                               1 ACT, desmodromique
                               2 soupapes par cylindre
                               803 cc (88 x 66 mm)
                               87 ch à 8250 tr/min
                               8 mkg à 6250 tr/min
                               Rapport poids / puissance : 1.92 kg/ch
                </p>

                <h4 class="detail-titre">Transmission :</h4>
                <p class="detail">
                               Boite à 6 rapports
                               Transmission secondaire par chaine
                </p>
            </div>

            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="upload-btn-wrapper container">

                </div>
                <small class="changerPhoto">Cliquez sur la photo pour la changer !</small>
            </div>

            <div class="col col-lg-3 col-md-12  col-sm-12 col-xs-12">
                <h4 class="detail-titre">Chassis :</h4>
                    <p class="detail">
                               Cadre : Treillis tubulaire en acier
                               Réservoir : 15 litres
                               Hauteur de selle : 800 mm
                               Empattement : 1450 mm
                               Poids à sec : 167 kg
                    </p>
            </div>
        </div>
    </div>
</section>
